html,
body {
    height: 100vh;
    font-family: "Noto Serif SC", serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
    border: none;
}

#app {
    overflow-x: hidden;
}

@media (min-width: 768px) {
    #app {
        margin: 0 30rem;
    }
}

#main {
    width: 100%;
}

.site-title {
    background-color: rgba(200, 200, 200, 0.6);
    padding: 1rem;
    border-radius: 0.2rem;
    width: 100%;
    padding-left: 3rem;
}

.easy-editor {
    width: 100%;
    min-height: 60vh;
    outline: none;
    resize: vertical;
    line-height: 2;
    padding: 1rem !important;
    display: block;
    border-radius: 0.2rem;
    text-align: left;
}


.btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    gap: 1rem;
}

.preview-editor {
    padding: 1rem;
    word-wrap: break-word;
}

.preview-editor-view {
    outline: none;
    border: 1px solid #333;
    border-radius: 0.2rem;
}

.preview-editor::after {
    content: "@Easy Editor" !important;
    display: block !important;
    color: silver;
    font-size: smaller;
    font-family: "Noto Serif SC", serif;
    font-optical-sizing: auto;
    margin-top: 2rem;
    text-align: center;
}

.hidden {
    display: none;
}

button {
    min-width: 5rem;
    height: 3rem;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    border: 1px solid #333;
    border-radius: 0.2rem;
    line-height: 3rem;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}